.pager_template
{
    height: 32px;
}
.pager_template div.left
{
    padding: 3px;
    float: left;
    height: 30px;
    width: 400px;
}
.pager_template div.right
{
    padding: 3px;
    float: right;
    height: 30px;
    width: 170px;
}
.pager_template .button
{
    float: left;
    margin: 2px;
}
.pager_template .editor
{
    float: left;
    margin: 3px 0px 1px;
}
.pager_template label
{
    float: left;
    display: block;
    margin: 2px 4px;
    padding: 4px 0px;
}
